include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include NOTICE
include README.md
include dmri_segmenter/*.pickle

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
