[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
dipy = "*"
docopt = "*"
scikit-image = "*"
scikit-learn = "*"

[requires]
python_version = "2.7"
